<body>
<h1>Hello <a href="https://djangogirls.org/">Django Girls</a></h1>
<h2>This is a Blog Page</h2>

<h3>Created using <a href="https://www.djangoproject.com/">Django Python Framework</a></h3>
</body>
<div>
<ul>
	<li><a href="https://www.python.org/">Python</a></li>
	<li><a href="https://www.github.com/">Github</a></li>
	<li><a href="https://www.pythonanywhere.com/"> pythonanywhere</a></li>
</li>
</div>


<div>
	<h1>Blog posts</h1>
</div>

{% for post in posts %}
<div>
<p>published: {{ post.published_date }}</p>
<h1><a href="">{{ post.title }}</a></h1>
<p>{{ post.text|linebreaks }}</p>
</div>
{% endfor %}

<div>
	<p>published: 5th February 2016</p>
	<h2>First entry</h2>
	<p>First blog content</p>
</div>

<div>
	<p>published: 6th February 2016</p>
	<h2>Second entry</h2>
	<p>Second blog Content</p>
</div>

</html>